*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 1px;
  font-family: verdana;
  text-transform: capitalize;
}
body{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg,#f0591d 50%,#333 50%);
}
.container{
  height: 450px;
  width: 330px;
  background:rgba(255, 255, 255, 0.06);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
  padding: 10px;
  overflow-y: auto;
}
#input{
  height: 50px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
  background: #cfcfcf;
  color: #000;
  padding: 0 15px;
  margin: 15px 0 ;
}
#input::placeholder{
  color: #333;
}
ul li{
  background: #cfcfcf;
  height: 40px;
  border-radius: 50px;
  margin: 10px 0;
  padding: 10px;
  position: relative;
  list-style-type: none;
}
ul .fa-circle-check, .fa-trash{
  position: absolute;
  cursor: pointer;
}
ul .fa-circle-check{
  right: 40px;
  color: green;
  top:12px
}
ul .fa-trash{
  right: 15px;
  color: #ff0033;
  top: 12px;
}
ul .checked{
  background: lightgreen;
  text-decoration: line-through;
    font-style: italic;
  transition: 1s;
  color: green;
}